@import "../../variables";

.dropdown {
  position: fixed;

  z-index: 2;
  height: 120vh;
  width: 100%;
  background-color: $darkColor;

  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30% 0;

    a {
      color: $lightColor;
      font-family: $characterFont;
      text-decoration: none;
    }

    a:hover {
      color: $accentColor;
    }
  }
}

.active {
  bottom: -20%;
  animation: dropdown;
  animation-duration: 0.5s;
}

.inactive {
  bottom: 100%;
  animation: hideDropdown;
  animation-duration: 0.5s;
}

@keyframes dropdown {
  0% {
    bottom: 100%;
  }

  100% {
    bottom: -20%;
  }
}

@keyframes hideDropdown {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: 100%;
  }
}
