@import "../../variables";

.aboutContainerInactive {
  background-color: rgba($darkColor, 0.8);
  position: fixed;
  top: 0;
  left: 150%;
  height: 100vh;
  width: 100%;
  z-index: 1;
  animation: bright;
  animation-duration: 0.2s;
  font-family: $characterFont;

  .aboutInactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 20px;
    border-radius: 2px;
    background-color: rgba($lightColor, 0.8);
    width: 30%;
    height: 90vh;
    left: 100%;
    top: 5%;
    animation: slideIn;
    animation-duration: 0.2s;

    a {
      position: absolute;
      top: 0;
      left: 0;
      border: none;
    }

    img {
      max-height: 300px;
      max-width: 90%;
    }

    p {
      font-size: 1rem;
      text-align: center;
      color: $darkColor;
      display: none;
    }
  }
}

.aboutContainerActive {
  background-color: rgba($darkColor, 0.8);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  animation: dim;
  animation-duration: 0.2s;
  font-family: $characterFont;

  .aboutActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 2px;
    background-color: rgba($lightColor, 0.8);
    width: 30%;
    height: 90vh;
    left: 68%;
    top: 5%;
    animation: slideOut;
    animation-duration: 0.2s;

    a {
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      font-size: 2rem;
      color: $darkColor;
    }

    a:hover {
      color: $accentColor;
    }

    img {
      max-height: 300px;
      max-width: 90%;
    }

    p {
      font-size: 1rem;
      text-align: center;
      color: $darkColor;
      width: 100%;
    }
  }
}

@keyframes slideOut {
  0% {
    left: 100%;
  }
  100% {
    left: 68%;
  }
}

@keyframes dim {
  0% {
    background-color: rgba($darkColor, 0);
  }
  100% {
    background-color: rgba($darkColor, 0.8);
  }
}

@keyframes slideIn {
  0% {
    left: 68%;
  }
  100% {
    left: 100%;
  }
}

@keyframes bright {
  0% {
    background-color: rgba($darkColor, 0.8);
  }
  100% {
    background-color: rgba($darkColor, 0);
  }
}
