@import "../../variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  overflow: scroll;
}

.carousel.slide {
  width: 100%;
}

.Navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $darkColor;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: $characterFont;

  div {
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $lightColor;
  }

  a:hover {
    color: $accentColor;
  }

  button {
    background-color: $darkColor;
    border: none;
    color: $lightColor;
  }

  button:hover {
    color: $accentColor;
  }

  .navbarRight {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
      display: flex;
      align-items: center;
    }

    li {
      margin: 40px;
      list-style: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .navbarLeft {
    font-size: 1.8rem;
  }
  .largeButtonList {
    display: none;
  }
  a.largeButtons {
    display: none;
    margin: 0;
  }
  a.smallButton {
    padding-right: -15px;
    font-size: 2rem;
    margin-left: 30px;
  }
}

@media screen and (min-width: 960px) {
  a.smallButton {
    display: none;
  }
  .navbarLeft {
    font-size: 2rem;
  }
}
