.Grid {
  color: white;
  padding: 60px 15px;
  margin-top: -60px;

  .div {
    border: 1px solid white;
    height: 50px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  img:hover {
    cursor: pointer;
  }
}
